@model SubordinateEdit
@using System.Globalization

@{
    ViewData["Title"] = "Change Account Info";
}

<div class="row">
    <div class="col-md-4">
        <form  method="post">
            <h4>Update account.</h4>
            <div class="form-group">
                <p>
                    <a asp-contoller="Admin" asp-action="Index">Back to List</a> | <a asp-contoller="Admin" asp-action="ChangePassword" asp-route-id="@Model.User.Id">Change password</a>
                </p>
            </div>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User.Email"></label>
                <input asp-for="User.Email" name="Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.FirstName"></label>
                <input asp-for="User.FirstName" name="FirstName" class="form-control" />
                <span asp-validation-for="User.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.LastName"></label>
                <input asp-for="User.LastName" name="LastName" class="form-control" />
                <span asp-validation-for="User.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Sex"></label>
                <select asp-for="User.Sex" name="Sex" class="form-control">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <span asp-validation-for="User.Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.DOB"></label>
                <input asp-for="User.DOB" name="DOB" title="mm/dd/yyyy" class="form-control" />
                <span asp-validation-for="User.DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.MaritalStatus"></label>
                <select asp-for="User.MaritalStatus" name="MaritalStatus" class="form-control">
                    <option value="Single">Single</option>
                    <option value="Married">Married</option>
                    <option value="Divorced">Divorced</option>
                </select>
                <span asp-validation-for="User.MaritalStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.NumberOfChildren"></label>
                <input asp-for="User.NumberOfChildren" name="NumberOfChildren" class="form-control" />
                <span asp-validation-for="User.NumberOfChildren" class="text-danger"></span>
            </div>
            <div class="checkbox">
                <input asp-for="User.isActive" name="isActive" value="true" />
                <label asp-for="User.isActive"></label>
                <span asp-validation-for="User.isActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.EmploymentDate"></label>
                <input asp-for="User.EmploymentDate" name="EmploymentDate" title="mm/dd/yyyy" class="form-control" />
                <span asp-validation-for="User.EmploymentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.HighestEducationQualification"></label>
                <select asp-for="User.HighestEducationQualification" name="HighestEducationQualification" class="form-control">
                    <option value="" class="text-muted">Select Qualification</option>
                    <option value="Primary School">Primary School</option>
                    <option value="WASSCE">WASSCE</option>
                    <option value="OND">OND</option>
                    <option value="HND">HND</option>
                    <option value="Bachelor">Bachelor</option>
                    <option value="PGD">PGD</option>
                    <option value="MASTERS">Masters</option>
                    <option value="PH.D">PHD</option>
                </select>
                <span asp-validation-for="User.HighestEducationQualification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.School"></label>
                <input asp-for="User.School" name="School" class="form-control" />
                <span asp-validation-for="User.School" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.ServiceYear"></label>
                <input asp-for="User.ServiceYear" name="ServiceYear" title="mm/dd/yyyy" class="form-control" />
                <span asp-validation-for="User.ServiceYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.CompanyPosition"></label>
                <input asp-for="User.CompanyPosition" name="CompanyPosition" class="form-control" />
                <span asp-validation-for="User.CompanyPosition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.LastPromotionDate"></label>
                <input asp-for="User.LastPromotionDate" name="LastPromotionDate" title="mm/dd/yyyy" class="form-control" />
                <span asp-validation-for="User.LastPromotionDate" name="LastPromotionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                @{ var salary = @Model.User.YearlySalary.ToString("C", new CultureInfo("en-NG"));}
                <label asp-for="User.YearlySalary"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic">&#8358;</span>
                    </div>
                    <input asp-for="User.YearlySalary" name="YearlySalary" aria-describedby="basic" class="form-control" />
                </div>
                <span asp-validation-for="User.YearlySalary" class="text-danger"></span>
            </div>
            <div class="form-group" >
                <label asp-for="Users"></label>
                <select id="custom-headers" name="AddIds" class="" multiple>
                    @foreach (EManager3User user in Model.Users)
                    {
                        var seen= false;
                        if (user.Id == Model.User.Id){
                            continue;
                        }
                        foreach (var sub in Model.Members){
                            if (user.Id == Convert.ToString(sub.SubordinateId)){
                                <option selected="selected" value="@user.Id">@user.UserName</option>
                                seen = true;
                                break;
                            }
                        }
                        if (seen){
                            continue;
                        }
                        else{
                            <option value="@user.Id">@user.UserName</option>
                        }
                    } 
                </select>
                <span asp-validation-for="User.Sex" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
            
        </form>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    @* <script>
        
    </script> *@
}